* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

#body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 33dvh;
}

#list {
    height: auto;
    max-height: 30dvh;
    overflow-y: auto;
    overscroll-behavior: smooth;
    scrollbar-width: none;
}